.card {
  /* display: inline; */
}
.name {
  /* font-weight: bold; */
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}
.partNum {
  font-style: italic;
  font-size: 0.6rem;
  margin-bottom: 0.1rem;
}
.image-wrapper {
  box-sizing: content-box;
}
/* the magic happens here */
.image-wrapper > div {
  /* position: relative;
  display: block; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
